# Ignorar banco de dados local
*.db
db/banco.db

# Ignorar ambientes virtuais Python 
venv/
.venv/
env/
.env/

# Ignorar cache do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignorar arquivos de configuração de editor
.vscode/
.idea/

# Ignorar arquivos de sistema operacional
.DS_Store
Thumbs.db