# Ignorar o banco de dados
*.db
db/banco.db

# Ignorar o ambiente virtual 
venv/
env/

# Ignorar arquivos de cache dp Python
_pycache_/
*.pyc

# Ignorar arquivos de configuração do editor
.vscode/
.idea/

# Ignorar arquivos de sistema
.DS_Store